.specialization {
    padding-top: 36px;

    @media (min-width: 1025px) {
        padding-top: 140px;
    }

    &_blocks {
        display: grid;
        grid-template-columns: repeat(1fr, 1fr);
        margin: 0 auto;
        width: 62%;
        row-gap: 3%;
        padding-bottom: 156px;

        @media (max-width: 549px) {
            width: 72%;
        }

        @media (max-width: 416px) {
            width: 82%;
        }

        @media (min-width: 1025px) {
            margin: 0 auto;
            width: 62%;
            grid-template-columns: 48% 48%;
            gap: 4%;
            padding-bottom: 64px;
            padding-top: 80px;
        }
    }

    &_block {
        padding: 40px 30px 40px 30px;
        border: 1px solid #EDEDED;
        border-radius: 5px;
    }

    &_title {
        display: flex;
        align-items: center;

        & img {
            width: 28px;
            display: inline;
            filter: blur(0.2px);
        }

        & p {
            margin-left: 15px;
            font-family: 'Gilroy-SemiBold';
            font-size: 22px;
            line-height: 147.9%;
            color: #313131;
        }
    }

    &_text {
        font-family: 'Gilroy-Medium';
        font-size: 16.9px;
        line-height: 100%;
    }

    &_link {
        text-decoration: underline;
        font-family: 'Gilroy-SemiBold';
        cursor: pointer;
        color: #313131;
    }

    & .button {
        text-align: center;
    }

    & .btn_green {
        font-family: 'Gilroy-Medium';
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        padding: 18px 66px;
        border: none;
        box-shadow: 0px 30px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
        transition: background 0.2s ease-in-out;
        &:hover {
            background: none;
            background: #000;
        }
    }
}