.about-me {
    font-family: 'Inter';
    padding-top: 120px;
    margin: 0 auto;
    display: flex;
    width: 80%;
    align-items: flex-start;

    @media(max-width: 1024px) {
        padding-top: 76px;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }

    &_text {
        width: 35%;
        color: #0d0a0a;
        font-family: 'Gilroy-Bold';
        font-size: 19px;
        padding-right: 20px;
        margin-right: 26px;
        border-right: 2.5px solid #ededed;

        @media(max-width: 1024px) {
            width: 100%;
        }

        @media(max-width: 1389px) {
            width: 43%;
        }

        @media(max-width: 1236px) {
            width: 55%;
            border-right: none;
        }

        @media(max-width: 1024px) {
            padding-right: 0;
            margin-right: 0;
            width: 100%;
        }

        & .button {
            display: none;
            margin-top: 42px;

            @media(max-width: 1024px) {
                display: block;
            }

            & .btn_green {
                box-shadow: none;
                border: none;
                margin-top: 42px;
                font-family: 'Gilroy-Medium';
                font-size: 18px;
                line-height: 21px;
            }
        }
    }

    & p {
        letter-spacing: -0.1px;
        font-size: 48px;
        line-height: 79px;
        margin: 26px 0;
    }

    & span {
        letter-spacing: 0.5px;
        font-size: 26px;
    }

    & img {
        width: 42%;

        @media(max-width: 1024px) {
            width: 100%;
        }

        @media(max-width: 1389px) {
            width: 55%;
        }

        @media(max-width: 1236px) {
            width: 45%;
        }

        @media(max-width: 1024px) {
            width: 60%;
            margin-top: 45px;
            margin-bottom: 54px;
        }
    }

    &_contact {
        @media(max-width: 1024px) {
            display: none;
        }
    }

    &_specialization {
        @media(max-width: 1024px) {
            padding-bottom: 100px;
        }

        & .btn_green {
            box-shadow: none;
        }
    }
}